@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Comienza a gestionar departamentos aquí</p>
    <a asp-area="" asp-controller="Departamentos" asp-action="Index">Departamentos</a>
    <p>Comienza a gestionar empleados aquí</p>
    <a asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
</div>
