@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Umbrella Corp ("we," "our," or "us"). </p>
<p>
    This Privacy Policy explains how we collect, use,
    and share your personal information when you visit 
    our website. We may collect personal information 
    that you give us directly, such as when you fill 
    out a form, create an account, or contact us.
</p>
    
  <p>  
    This 
    can include:Contact Data: First name, last name, and 
    email address.Usage Data: Pages you visit, time 
    spent on pages, and your device type.Cookies: Small 
    files stored on your device to help our site run 
    properly.How We Use Your InformationWe use the 
    information we collect to:Provide and run our 
    website and services.Reply to your questions and 
    support requests.Send important updates about 
    our services or policies.
